
<div id="container">
<h1 class='col-xs-12 welcome'> Here's your Movie! </h1>
<%= "<img id='poster' src = #{@result["Poster"]}><br>" %>
<%= "<p id='plot'><a href =http://imdb.com/title/#{@result['imdbID']}> View IMDB Page</a></p>" %>

<%= "<p>Plot: #{@result["Plot"]} </p>" %>
<%= "<p>Released Year: #{@result["Year"]} </p>" %>
<%= "<p>Rated: #{@result["Rated"]} </p>" %>
<%= "<p>Released Year: #{@result["Year"]} </p>" %>
<%= "<p>Runtime: #{@result["Runtime"]} </p>" %>
<%= "<p>Genre: #{@result["Genre"]} </p>" %>
<%= "<p>Director: #{@result["Director"]} </p>" %>
<%= "<p>Actors: #{@result["Actors"]} </p>" %>
</div>

