
<div class="container">
	<div class='row'>
		<div class='col-xs-6 col-sm-8 topleft'><a href="http://imdb.com"> Powered by IMDB </a> </div>
		<div class="col-sm-1"></div>
		<div class="col-sm-1"></div>
		<div class='col-xs-3 col-sm-1 topright'>Favorites</div>
		<div class='col-xs-3 col-sm-1 topright'>Profile</div>
	</div>
	<div class="row">
	<h1 class='col-xs-12 welcome'> Here's your Movie! </h1> 
	</div>
		<table class="center">
			<div class="row">
			<div class= "col-lg-6 posterlg"><%= "<img id='poster' src = #{@result["Poster"]}><br>" %>
			<%= "<p id='plot'><a href =http://imdb.com/title/#{@result['imdbID']}> View IMDB Page</a></p>" %></div>
			<div class= "col-lg-6">
			<tr><%= "<p><td>Plot:</td><td>#{@result["Plot"]}</td></p>" %></tr>
			<tr><%= "<p><td>Released Year:</td><td> #{@result["Year"]}</td></p>" %></tr>
			<tr><%= "<p><td>Rated:</td><td> #{@result["Rated"]}</td></p>" %></tr>
			<tr><%= "<p><td>Released Year:</td><td> #{@result["Year"]}</td></p>" %></tr>
			<tr><%= "<p><td>Runtime:</td><td> #{@result["Runtime"]}</td></p>" %></tr>
			<tr><%= "<p><td>Genre:</td><td> #{@result["Genre"]}</td></p>" %></tr>
			<tr><%= "<p><td>Director:</td><td> #{@result["Director"]}</td></p>" %></tr>
			<tr><%= "<p><td>Actors:</td><td>#{@result["Actors"]}</td></p>" %></tr></div>
		</div>
		</table>
		<a href="/"> New Search </a>
		<div class= "row footer">
					<div class="col-sm-4 col-md-4 col-lg-3 page"> Contact Me Soon!</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 page">
						View My Page
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 page">
						Support Page
					</div>
					<div class="col-lg-3 page">
						<p class="visible-lg">Like Me!</p>
				</div>
</div>

